{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_css %}

{% include 'navbar-simple.html' %}
{% include 'messages.html' %}
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}                    
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>