<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/branch.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
    
</head>
<body>
    <div class="main">
        <%- include("./partials/main_left.ejs") %>
        <div class="branchb">
            <h1 class="h1 headings"><span class="b">S</span>emester</h1>
            <div class="branchc mt-5">
                <div action="/branch/sem/scheme"class="d-flex flex-wrap w-75">
                    <button  class="sem_allign btn btn-lg d-flex col m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <a href="1/"> <h1 class="h1">1</h1></a>
                    </button>
                    <button  class="sem_allign btn btn-lg d-flex col m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <a href="2/"> <h1 class="h1">2</h1></a>
                    </button>
                    <button  class="sem_allign btn btn-lg d-flex col m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <a href="3/"> <h1 class="h1">3</h1></a>
                    </button>
                    <button  class="sem_allign btn btn-lg d-flex col m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <a href="4/"> <h1 class="h1">4</h1></a>
                    </button>
                    <button  class="sem_allign btn btn-lg d-flex col m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <a href="5/"> <h1 class="h1">5</h1></a>
                    </button>
                    <button  class="sem_allign btn btn-lg d-flex col m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <a href="6/"> <h1 class="h1">6</h1></a>
                    </button>
                    <button  class="sem_allign btn btn-lg d-flex col  m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <a href="7/"> <h1 class="h1">7</h1></a>
                    </button>
                    <button  class="sem_allign btn btn-lg d-flex col  m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                        <a href="8/"> <h1 class="h1">8</h1></a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>