<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/branch.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
    
</head>
<body>
    <div class="main">
        <%- include("./partials/main_left.ejs") %>
        <div class="branchb">
            <h1 class="h1 headings"><span class="b">S</span>ubject</h1>
            <div class="branchc mt-5">
                <div  class="row "> 

                    <div class="row">
                        <% for (const subject of subjects) { %>
                            <button type="submit" class="allign btn d-flex col-2 m-5 px-5 py-2" style="background: #00B9AE; color:aliceblue; border-radius:2rem;">
                                <a href="<%= subject %>/"> <h1 class="h4"><%= subject %></h1></a>
                            </button>
                        <% } %>   
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>