<section id="footer">
    <div class="container" style="max-width: 1253px;">
        <div class="row text-xs-center text-sm-left text-md-left" style=" padding-left: 32px;">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h5 class="txt-upper">About PMS</h5>
                <p class="text-justify" style="color: #ffffffbf!important;">Across the years, Foursy Group of
                    Hospitals has evolved into a medical destination - one that
                    attracts not just thousands of patients across the world; but also attracts and nurtures the
                    best talent, keeps upgrading technology as well as fosters.........</p>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 text-white">
                <h5 class="txt-upper">OP Time</h5>
                <p style="color: #ffffffbf!important;"> Mon - Fri: 9:00 am - 2:00 pm
                    <br> Sat & Sun: 10:00 am - 1:00 pm
                    <br>
                </p>

            </div>


            <div class="col-xs-12 col-sm-4 col-md-3">
                <h5 class="txt-upper">Quick links</h5>
                <ul class="list-unstyled quick-links" style="color: #ffffffbf!important;">
                    <li><a href="{% url 'accounts:home' %}">Home</a></li>
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'appointment:doc-list' %}">Book an appointment</a></li>


                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h5 class="txt-upper">Contact us</h5>
                <ul class="list-unstyled font-weight-normal" style="color: #ffffffbf!important;">
                    <a name="phone"><li> <i class="fa fa-phone" aria-hidden="true">&nbsp;&nbsp;7012460529 , 0499-2789012</i></li></a>
                    <a name="email"><li><i class="fa fa-envelope" aria-hidden="true">&nbsp;&nbsp;foursyhospital@gmail.com</i></li></a>

                </ul>
                <p class="myfont-color text-white">FOLLOW US:</p>

                <ul class="list-unstyled list-inline social" style="font-size:22px;">
                    <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href=" "><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href=" "><i class="fa fa-instagram"></i></a></li>


                </ul>
            </div>
        </div>
        <hr class="myhr">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-white" style="padding-left: 36px;">

                <p class="h6">Copyright © All Rights Reserved.<a class="foursy" href="#"
                        target="_blank">&nbsp;Foursy Group of Hospitals</a></p>
            </div>
            <hr>
        </div>
    </div>
</section>

<style>
    
    #footer {
        background: #3d6364 !important;
        padding: 60px 0 18px;
        margin-top: 20px;
    }

    #footer .section-title {
        text-align: center;
        color: #007b5e;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    #footer h5 {
        padding-left: 10px;
        border-left: 3px solid #eeeeee;
        padding-bottom: 6px;
        margin-bottom: 20px;
        color: #ffffff;
    }

    #footer a {
        color: #ffffff;
        text-decoration: none !important;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    #footer ul.quick-links li {
        padding: 3px 0;

    }




    #footer ul.quick-links li a i {
        margin-right: 5px;
    }

    #footer ul.quick-links li:hover a i {
        font-weight: 700;
    }

    #footer ul.social li {
        padding: 3px 0;
    }


    #footer ul.social li a,
    #footer ul.quick-links li a {
        color: #ffffffbf !important;
    }
</style>